* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff7ed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: #ffffff;
  font-weight: 700;
  border-radius: 0.3rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

/* -----HEADER-------- */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 1.5rem;
}

.nav .logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
}

.nav-links {
  display: flex;
  gap: 1rem;
  padding-left: 1.5rem;
}

.nav-links a {
  font-size: 1rem;
  font-weight: 500;
  color: #4d4d4d;
}

a.active {
  color: #161616;
  text-decoration: underline;
}

/* -----Footer-------- */

footer {
  background-color: #252525;
  color: #aaaaaa;
  height: 75px;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.875rem;
}

/* ----HOME----- */

.home-container {
  align-content: center;
  background-image: url(./assets/bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.5rem;
  color: #ffffff;
}

.home h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

.home p {
  font-size: 1rem;
  font-weight: 300;
}

.home a {
  background-color: #ff8c38;
  margin-top: 3rem;
}

/* ----ABOUT----- */

/* HERO */

.hero img {
  width: 100%;
}

/* INTRO */

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.5rem;
}

.intro h2 {
  font-size: 2rem;
}

.intro p {
  font-size: 1rem;
}

/* CTA */

.cta {
  background-color: #ffcc8d;
  padding: 2rem;
  margin: 2rem 1.5rem;
  border-radius: 0.3rem;
}

.cta p {
  font-size: 1.5rem;
  font-weight: bold;
}

.cta a {
  background-color: #161616;
}

/* ----VANS----- */

/* SEARCH */

.van-search,
.van-cards {
  padding: 0 1.5rem;
}

.van-search-options {
  display: flex;
  gap: 1rem;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.clear-search {
  color: #000000;
}

.van-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.van-card {
  width: 100%;
}

.van-card a {
  color: #161616;
  text-decoration: none;
}

.van-img {
  width: 100%;
  border-radius: 0.3rem;
}

.van-info {
  display: flex;
  justify-content: space-between;
}

.van-info .price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.van-info h2,
.amount {
  font-size: 1.25rem;
  font-weight: 500;
}

.van-info .unit {
  font-size: 0.88rem;
}

.van-type-btn {
  color: #ffead0;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}

/* ----VANS DETAILS----- */

.van-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.5rem;
}

.van-details i {
  align-self: flex-start;
}

.van-details img {
  border-radius: 0.3rem;
}

/* ----HOST----- */

/* ----HOST VANS----- */

.host-van-list {
  padding: 0 1.5rem;
}

.host-van-list h1 {
  font-size: 2rem;
  padding: 1.5rem 0;
}

.host-van-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.host-van-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
}

.host-van-card a {
  text-decoration: none;
}

.host-van-card img {
  width: 105px;
  border-radius: 0.3rem;
}

.host-van-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.host-van-info h2 {
  font-size: 1.25rem;
  color: #161616;
}

.host-van-info p {
  font-size: 1rem;
  color: #4d4d4d;
}

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}

.host-van-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.host-van-price {
  padding: 1rem 2rem;
}

.host-van-detail-info > h4 > span {
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4d4d4d;
}

.host-van-detail-image {
  padding: 1rem 2rem;
}

.host-van-detail-image img {
  height: 100px;
  border-radius: 5px;
}

.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}
